<div id='loading_overlay'>Monte le son !<br>Chargement en cours...</div>

<div id='home_container' style="display: none;">

    <h1>Wendy et Arnaud se sont dit "Oui" il y a...</h1>

    <!-- Countdown -->
    <div id='countdown_container'></div>

    <div id='user_inputs_container'>
    	<p>Pour accéder aux photos du mariage, entrez la phrase d'accès</p>

    	<%= form_tag sessions_path do %>
    		<p class="error"><%= raw flash[:notice] %></p>
    		<%= text_field_tag "passphrase", "", { placeholder: "Entrer la phrase d'accès" } %>
    		<%= button_tag "Accéder" %>
    	<% end %>

    </div>

</div>