<div id='loading_overlay'>Monte le son !<br>Chargement en cours...</div>

<div id='home_container'>

    <h1>Wendy et Arnaud se sont dit "Oui" il y a...</h1>

    <!-- Countdown -->
    <div id='countdown_container'></div>

    <div id='user_inputs_container'>
    	<p>Pour accéder aux photos du mariage, entrez la phrase d'accès figurant sur votre carte de remerciement</p>
    	<form method="post" action="<%= new_session_path %>">
    		<input type="text" name="passphrase" placeholder="Phrase d'accès"><br>
    		<button type="submit">Accéder</button>
    	</form>
    </div>

</div>