<h1>Photos</h1>
<p>Cliquez sur l'une des catégories pour retrouver les photos associées</p>

<div>
	<button class="all">Toutes</button>
	<button class="cityhall">Mairie Jouy-Le-Moutier</button>
	<button class="church">Eglise Vauréal</button>
	<button class="shooting">Shooting mariés</button>
	<button class="night">Soirée Ferme du Grand Chemin</button>
</div>
