
// -------------------------------------------
//                  COLORS

$red:           #cd3737;
$red-dark:      darken($red, 10);
$red-light:     lighten($red, 10);

$purple:        #6c37cd;
$purple-dark:   darken($purple, 10);
$purple-light:  lighten($purple, 10);

$gold:          #cd9d37;
$gold-dark:     darken($gold, 10);
$gold-light:    lighten($gold, 10);

$green:         #37cd7a;
$green-dark:    darken($green, 10);
$green-light:   lighten($green, 10);

$gray:          #555;
$gray-dark:     darken($gray, 10);
$gray-light:    lighten($gray, 10);


// -------------------------------------------
//                  KEYFRAMES

@keyframes heart_beats {
    0% { height: 100px; width: 100px; top: 0; left: 30px; }
    25% { height: 110px; width: 110px; background-color: $red-dark; top: -5px; left: 25px; }
    100% { height: 100px; width: 100px; top: 0; left: 30px; }
}


// -------------------------------------------
//                  FONT-FACES

// @font-face {
//     font-family: 'Walker on the Moon';
//     src: url('Walker on the Moon.otf');
//     src: url('/assets/Walker on the Moon.otf') format('otf'),
//          url('/assets/Walker on the Moon.ttf') format('truetype');
// }

// -------------------------------------------
//                  RESPONSIVE

$dektop: 700px;
